* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #333;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.example {
  padding: 80px 0px;
}
.example .example__container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 62.625rem;
  position: relative;
}
.example .example__container::before {
  content: "";
  background: url("/lesson33/img/president_ukraine_leader_zelenskyy_zelensky_icon_232974.svg") 0 0 no-repeat;
  position: absolute;
  right: 0;
  width: 14.57%;
  padding-top: 22.95%;
  top: 50%;
  transform: translate(50%, -50%);
}
.example__header {
  margin: 0px 0px 25px 0px;
  max-width: rem(46.875);
}
.example__sub-title {
  color: #a989c7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: rem(0.875);
  line-height: 1.7;
  margin: 0px 0px 1.07em 0px;
}
.example__title {
  color: #93b482;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.65rem;
  line-height: 1.19;
  margin: 0px 0px 0.38em 0px;
  letter-spacing: 0.12em;
}
@media (max-width: em(48)) {
  .example .example__title {
    font-size: rem(2);
  }
}
.example__text {
  line-height: 1.5;
}
.example__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0px -12px;
}
.example__item {
  padding: 0px 12px;
  flex: 1 1 33.333%;
  min-width: 18.125rem;
}

.item-example {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.item-example__icon {
  flex: 0 0 63px;
}
.item-example__title {
  color: #f2726f;
  font-weight: 900;
  font-size: rem(1.5);
  margin: 0px 0px 0.45em 0px;
}
.item-example__text {
  line-height: 1.5;
}