//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
}
a {
	color: chartreuse;
	text-decoration: none;
}
h1 {
	font-size: 40px;
	margin: 0px 0px 30px 0px;
}
h2 {
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}
h3 {
	font-size: 24px;
	margin: 0px 0px 20px 0px;
}
h4 {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
h5 {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}
p {
	line-height: 20px;
	margin: 20px 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.content {
	padding: 30px 3%;
}
.content__block {
	margin: 0px 0px 50px 0px;
}
/* Основные стили */
.section {
	margin: 0px 0px 50px 0px;
}
.section__block {
	margin: 0px 0px 30px 0px;
}

.section__item {
	text-align: justify;
}
.section__item_padding {
	padding: 15px;
}
.section__item_color-1 {
	background-color: #794f45;
}
.section__item_color-2 {
	background-color: #77608d;
}
.section__item_color-3 {
	background-color: #7a956b;
}

div.section__item_info{
	padding: 15px;
	margin: 0px 0px 20px 0px;
}
span.section__item_info{
	display: inline-block;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}
img.section__image{
	width: 300px;
	padding: 15px;
}

.section {

		&__block {

			&_hidden {
				overflow: hidden;
				padding: 25px;
			}
		}

		&__item {

			&_color-1 {
			}

			&_info {
			}

			&_color-2 {
			}

			&_color-3 {
			}

			&_size {
				width: 500px;
				padding: 15px;
				box-sizing: border-box;
			}

			&_background-color {
				margin: 15px;
				padding: 15px;
			}

			&_background-image {
				color: rgb(177,177,177);
				padding: 0px 0px 0px 50px;
				background: url('/lesson27/img/icon.svg') 0 0px no-repeat;
			}

			&_position {
				position: relative;
				color: rgb(177,177,177);
				padding: 0px 0px 0px 50px;
				&::before{
					content:'';
					width: 25px;
					height: 25px;
					background: #fff;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&_hidden {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				box-shadow: 0 0 20px #d9f5c8;
			}

			&_center {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				margin: 0px auto;
			}

			&_minus {
				padding: 15px;
			}

			&_minus-top {
				position: relative;
				z-index: 2;
				margin: -50px 0px 0px 0px;
			}

			&_flex {
				padding: 15px;
			}

			&_collapse {
				padding: 15px;
				margin: 0px 0px 20px 0px;
			}

			&_collapse-top {
				margin: -10px 0px 20px 0px;
			}

			&_bottom {
				padding: 10px;
				margin: 0px 0px 20px 0px;
			}

			&_right {
				padding: 15px;
				margin: 0px 20px 0px 0px;
			}

			&_parent {
			}
		}

		&__image {
		}

		&__row {
			display: flex;
			margin: 0px -15px;
		}

		&__column {
			padding: 0px 15px;
			flex: 0 1 33.333%;
		}

		&__slider {

		}

		&__list {
			margin: 0px 0px 20px 0px;
			li{
				margin: 0px 0px 10px 0px;
				&:last-child{
					margin: 0px 0px 0px 0px;
				}
			}
		}

		&__items {
			display: flex;
		}
		&__item_item{
			padding: 15px;
		}
		&__body {

			&_last {
				background-color: #77608d;
				padding: 20px 50px;
			}

			&_parent {
				background-color: #7a956b;
				padding: 50px 50px;
				&:last-child{
					margin: 0;
				}
			}
		}

		&__compare {
		}
}
.slider {
	display: flex;
	overflow: hidden;
	padding: 25px 0px;
	margin: -25px 0px;
		&__item {
			text-align: center;
			flex: 0 1 33.333%;
		}

		&__image {
			width: 150px;
			height: 150px;
			margin: 0px auto;
			border-radius: 50%;
			background-color: #7a956b;
			box-shadow: 0 0 20px #d9f5c8;
		}
}
.portfolio {
	background-color: #794f45;
	padding: 30px 15px;
		&__header {
			margin: 0px 0px 20px 0px;
		}

		&__text {
		}
}
.header {
	text-align: center;
		&__title {
			font-size: 30px;
			margin: 0px 0px 5px 0px;
		}

		&__text {
			font-size: 20px;
		}
}
.contacts {
		background-color: #77608d;
		padding: 30px 15px;
		&__header {
			margin: 0px 0px 40px 0px;
		}

		&__text {
		}
}
.compare {

		&__row {
			display: flex;
			margin: 0px -15px 30px;
		}

		&__column {
			padding: 0px 15px;
			flex: 0 1 50%;
		}

		&__item {
			padding: 20px 15px;
			&_bad {
				padding: 80px 15px;
			}

			&_color-1 {
				background-color: #794f45;
			}

			&_color-2 {
				background-color: #7a956b;
			}
		}

		&__title {
			font-size: 30px;
			margin: 0px 0px 10px 0px;
			&_bad {
				margin: 0px 0px 40px 0px;
			}
		}

		&__text {
		}

		&__link {
			display: inline-block;
			padding: 5px;
			line-height: 10px;
			&_bad {
				padding: 0;
			}
		}
}
