* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  max-width: 1180px;
  margin: 0px auto;
}

.headerblock {
  background-color: rgb(68, 81, 97);
}
.headerblock__row {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.headerblock__column h1 {
  font-size: 59px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.headerblock__list {
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 40px 0px 0px 0px;
}
.headerblock__list li {
  padding: 0px 0px 0px 0px;
}
.headerblock__list li::before {
  content: url("/lesson20/img/check icon.png");
  padding: 0px 10px 0px 0px;
}
.aboutblock {
  background-color: #ffffff;
}
.aboutblock__row {
  padding: 50px 50px 46px 50px;
  display: flex;
  justify-content: space-around;
}
.aboutblock__column:nth-child(1) {
  padding: 0px 40px 0px 0px;
}
.aboutblock__column h2 {
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: rgb(68, 81, 97);
  padding: 0px 0px 36px 0px;
}
.aboutblock__column p {
  max-width: 641px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  line-height: 24px;
  color: rgb(51, 51, 51);
  padding: 0px 0px 20px 0px;
}
.columnblock {
  background-color: #f5f5f5;
  padding: 48px 0px 49px 0px;
}
.columnblock h2 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: rgb(68, 81, 97);
  padding: 0px 0px 31px 0px;
}
.columnblock__row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
}
.columnblock__column {
  display: flex;
  flex-direction: row;
  padding: 34px 0px 0px 16px;
}
.columnblock__text {
  max-width: 359px;
}
.columnblock__text h2 {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: rgb(68, 81, 97);
  padding: 0px 0px 0px 15px;
}
.columnblock__text p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: rgb(51, 51, 51);
  padding: 9px 0px 0px 15px;
}