* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
}
.block__row {
  border: 20px solid yellow;
  margin: 130px 10px 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: stretch;
}
.block__row:nth-child(2) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.block__column {
  border: 20px solid blueviolet;
}
.block__item {
  padding: 30px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  background-color: green;
}
.block .block__column_1 {
  align-self: end;
  order: 3;
}
.block .block__column_2 {
  order: 2;
  flex: 300px 0 1;
}
.block .block__column_3 {
  align-self: center;
  order: 1;
}