/*Задання властивостей селектору класу example-block*/
.example-block {
	margin: 0px 0px 0px 0px;		/*Зовнішний відступ*/
	padding: 0px 0px 0px 0px;		/*Внутрішній відступ*/

	display: inline-block;			/*Багатоцільова властивість, яка вказує як елемент буде відображатись в документі*/

	overflow: auto;					/*Управління відображення блочного елементу*/
	min-height: 50px;					/*Задання мінімальної висоти*/

	border: 1px solid #000;		/*Задання властивості межі, краю*/
}
/*Задання властивостей селектору класу example-string*/
.example-string {
	border: 1px solid #000;		/*Задання властивості межі, краю*/
	padding: 20px;				/*Внутрішній відступ*/
	display: block;			/*Багатоцільова властивість, яка вказує як елемент буде відображатись в документі*/
}
/*Задання властивостей селектору класу example-image*/
.example-image{
	width: 100%;				/*Ширина*/
	max-width: 500px;			/*Задання максимальної висоти*/
	min-width: 300px;			/*Задання мінімальної ширини*/
	max-height: 500px;		/*Задання максимальної висоти*/
	min-height: 300px;		/*Задання мінімальної висоти*/
}