//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

html,body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
a{
	text-decoration: none;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.content{
	max-width: 1330px;
	margin: 0px auto;
	padding: 50px 15px;	
}

.title{
	margin: 0px 0px 20px 0px;
	font-size: 30px;
}
.text{
	margin: 0px 0px 80px 0px;
}
.text__image{
	margin: 0px 0px 20px 0px;
	text-align: center;
	img{
		max-width: 100%;
	}
}
.text__value{
	p{
		margin: 0px 0px 20px 0px;
	}
}


.cards{
	margin: 0px 0px 70px 0px;
}

.cards__row{
	margin: 0px -15px 70px -15px;
	display: flex;
}
.cards__column{
	flex: 0 1 33.333%;
	padding: 0px 15px;
}
.cards__image{
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 58% 0px;
	overflow: hidden;
	position: relative;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.items {
	&__item {
		display: flex;
		margin: 0px 0px 30px 0px;
	}

	&__image {
		flex: 0 0 33.333%;
		position: relative;
		min-height: 150px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__body {
		flex: 1 1 auto;
		padding: 0px 0px 0px 30px;
	}

	&__label {
		font-size: 20px;
		font-weight: 700;
		display: inline-block;
		margin: 0px 0px 20px 0px;
	} 
}

