@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
	font-family: 'Lato', sans-serif;

}
.container{
}
.headerblock {
	&__content {
		background: url('/test/test11/img/headerblock/logo.png')50% 25% no-repeat,url('/test/test11/img/headerblock/background.png') 0 0/cover no-repeat;
	}

	&__items {
	}

	&__logo {
	}

	&__text {
		padding: 356px 0px 0px 0px;
		color: rgb(255, 255, 255);
		text-align: center;
		position: relative;
	}

	&__title {
		font-size: 34px;
		font-weight: 900;
		line-height: 1.18;
		letter-spacing: 5.44px;
		&::after{
			content: '';
			position: absolute;
			width: 105px;
			bottom: -25px;
			height: 2px;
			left: 48%;
			background-color: #f1f1f1;
			margin: 0px 0px 0px -25px;
		}
		
	}

	&__subtitle {
		font-size: 26px;
		letter-spacing: 4.16px;
	}

	&__button {
		padding: 178px 0px 138px 700px;
		position: relative;
		&::after{
			content: url('/test/test11/img/headerblock/Arrow-down.png');
			position: absolute;
			margin: 55px 0px -55px -68px;

		}
	}

	&__link {
	padding: 5px 10px;
	font-size: 15.5px;
	letter-spacing: 0.93px;
   text-align: center;
   color: rgb(255, 255, 255);
	border: 1px solid #ffffff;
	}
}


.navblock {
	background-color: #f1f1f1;
	height: 58px;

	&__items {
		max-width: 422px;
		margin: 0px auto;
	}

	&__links {
		padding: 22px 0px 24px 0px;
	}

	&__link {
		padding: 0px 30px 0px 0px;
		font-size: 15px;
		text-align: left;
		color: rgb(60, 60, 60);
			&:first-child{
				font-weight: bold;
				color: rgb(173, 160, 116);
			}
			&:hover{
				color: rgb(173, 160, 116);
				font-weight: 700;
			}
	}
}

.mainblock {
	margin: 130px 0px 0px 0px;
	&__about {
		max-width: 823px;
		margin: 0px auto;
	}

	&__title {
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 5.44px;
		text-align: center;
		color: rgb(0, 0, 0);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 50px;
			bottom: -25px;
			height: 1px;
			left: 50%;
			background-color: #000;
			margin: 0px 0px 0px -25px;
		}
	}

	&__subtitle {
		padding: 73px 0px 69px 0px;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		color: rgb(134, 133, 133);
		text-align: center;
	}
}
.mainblock-about {
	&__row {
		display: flex;
	}

	&__column {
		padding: 0px  15px;
		flex: 0 0 33.333%;
	}

	&__title {
		font-size: 22px;
		letter-spacing: 3.52px;
		text-align: center;
		color: rgb(0, 0, 0);
		padding: 41px 0px 35px 0px;
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.86;
		text-align: center;
		color: rgb(134, 133, 133);
		
	}

	&__logo {
		
	}
}
.mainblock-about-column {
	&__logo {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


.mainblock {

	&__portfolio {
		margin: 95px 0px 0px 0px;
		background-color: #f3f3f3;
	}
}
.mainblock-portfolio {
	max-width: 1130px;
	margin: 0px auto;
	&__title {
		padding: 107px 0px 0px 0px;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 5.44px;
		text-align: center;
		color: rgb(0, 0, 0);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 50px;
			bottom: -25px;
			height: 1px;
			left: 50%;
			background-color: #000;
			margin: 0px 0px 0px -25px;
		}
	}

	&__nav {
		font-size: 15px;
		text-align: center;
		color: rgb(60, 60, 60);
		padding: 91px 0px 0px 0px;
			&:first-child{
				font-weight: bold;
				color: rgb(173, 160, 116);
			}
			&:hover{
				color: rgb(173, 160, 116);
				font-weight: 700;
			}
	}

	&__image {
		text-align: center;
		padding: 136px 0px 0px 25px;
		img{
			display: inline-block;
			width: 538px;
			height: 365px;
			padding: 0px 27px 16px 0px;
		}
	}

	&__button {
		padding: 64px 0px 62px 0px;
		font-size: 15.5px;
		letter-spacing: 0.93px;
		text-align: center;
	}

	&__link {
		border: 1px solid #000;
		padding: 17px 39px 18px 44px;
		color: #000;
	}
}
.portfolio-nav {
	&__link {
		font-size: 15px;
		text-align: center;
		color: rgb(60, 60, 60);
			&:first-child{
				font-weight: bold;
				color: rgb(173, 160, 116);
			}
			&:hover{
				color: rgb(173, 160, 116);
				font-weight: 700;
			}
	}

}
.mainblock {

	&__partners {
		background: url('/test/test11/img/partners/back.png') 100% 100% no-repeat;
	}
}
.mainblock-partners {

	&__title {
	padding: 100px 0px 93px 0px;
   font-size: 30.5px;
   font-weight: 300;
   letter-spacing: 1.83px;
   text-align: center;
   color: rgb(255, 255, 255);
	}

	&__logo {
		text-align: center;
		padding: 0px 0px 100px 0px;
		img{
			align-items: center;
			padding: 0px 100px 0px 100px;
		}
	}
}

.mainblock {

	&__contacts {
		max-width: 673px;
		margin: 0px auto;
	}

	&__row {
		display: flex;
		align-items: stretch;
	}

	&__column {
		padding: 166px 20px 155px 0px;
		
	}
	h2{
		text-transform: uppercase;
		font-weight: 700;
	}
	input{
		background-color: rgb(248, 247, 247);
		border-top: 4px solid #000;
	}
	textarea{
		background-color: rgb(248, 247, 247);
		border-top: 4px solid #000;
		width: 100%;
	}
	span{
		text-align: right;
		text-transform: uppercase;
		font-weight: 700;
		background-color: #fff;
	}
	p{
		&:nth-child(1){
			padding: 0px 0px 80px 0px;
		}
		&:nth-child(2){
			font-weight: 800;
			padding: 0px 0px 60px 0px;
		}
		&:nth-child(3){
			font-weight: 800;
		}
	}
	&__row {
		display: flex;
		justify-self: start;
	}
}
.mainblock-contacts {

	&__title {
		padding: 107px 0px 0px 0px;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 5.44px;
		text-align: center;
		color: rgb(0, 0, 0);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 50px;
			bottom: -25px;
			height: 1px;
			left: 50%;
			background-color: #000;
			margin: 0px 0px 0px -25px;
		}
	}
}




.footerblock {
	background: rgb(60, 60, 60);
	text-align: center;
	&__logo {
			padding: 48px 0px 41px 0px;
	}

	&__links {
		padding: 0px 20px 34px 20px;
	}

	&__link {
		font-size: 14px;
		text-align: left;
		color: rgb(164, 164, 164);
		padding: 0px 0px 49px 5px;
	}

	&__text {
		font-size: 14px;
		text-align: center;
		color: rgb(108, 108, 108);
		padding: 0px 20px 49px 0px;
	}
}




