@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
	font-family: 'Lato', sans-serif;
}
.content{
	
}
.headerblock {
	background: url('/./lesson15/img/headerblock/background.png')100%/cover no-repeat;
	min-height: 100%;
		margin: 0px auto;
	&__items {
		max-width: 754px;
		margin: 0px auto;
	}

	&__logo{
	}

	&__background {
		
	}

	&__title {
		font-family: Lato;
		font-size: 34px;
		font-weight: 900;
		line-height: 1.18;
		letter-spacing: 5.44px;
		text-align: center;
		color: rgb(255, 255, 255);
	}

	&__subtitle {
		font-family: Lato;
		font-size: 26px;
      font-weight: normal;
      letter-spacing: 4.16px;
		line-height: 1.18;
		text-align: center;
		color: rgb(255, 255, 255);
		&::after{
			content: '';
			position: absolute;
			width: 50px;
			bottom: -25px;
			height: 1px;
			left: 50%;
			background-color: #f1f1f1;
			margin: 0px 0px 0px -25px;
	}

	&__button {
	}
}
.headerblock-button {
}
.link {
}





.about {

	&__body {
		max-width: 823px;
		margin: 0px auto;
	}

	&__header {
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
   font-size: 14px;
   font-weight: 300;
   line-height: 1.86;
   text-align: center;
	line-height: 25.89px;
   color: rgb(134, 133, 133);
	}

	&__row {
		display: flex;
		font-size: 0;
		margin: 0px -15px;
	}

	&__column {
		padding: 0px  15px;
		flex: 0 0 33.333%;
	}
}

.title {
   font-size: 34px;
   font-weight: 700;
	text-transform: uppercase;
   letter-spacing: 5.44px;
	position: relative;
	text-align: center;
	&::after{
		content: '';
		position: absolute;
		width: 50px;
		bottom: -25px;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -25px;
	}
}

.item-about {

	&__icon {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
		color: #000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}

	&__text {
	font-family: 'Conv_MyriadPro-Bold';
   text-align: center;
		color: #868585;
		line-height: 26px;
		font-weight: 300;
		font-size: 14px;
	}
}
}