@charset "UTF-8";
/*Імпортуємо сімейство шрифтів напряму через веб-сторінку*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Підключаємо сімество шрифтів за допомогою оператора font-face*/
@font-face {
  font-family: "Conv_Win_20_db_regular-W";
  src: url("../fonts/Win_20_db_regular-W.eot");
  src: local("☺"), url("../fonts/Win_20_db_regular-W.woff") format("woff"), url("../fonts/Win_20_db_regular-W.ttf") format("truetype"), url("../fonts/Win_20_db_regular-W.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Задання властивостей для всіх елементів тегу body*/
body {
  padding: 30px;		/*Внутрішній відступ*/
}
/*Задання властивостей за селектором класу*/
.firstblock-text {
  margin: 0px 0px 50px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей для всіх елементів p в блоці за селектором класу firstblock-text*/
.firstblock-text p {
  font-family: "Unbounded", cursive;		/*Вибір сімейства шрифту*/
  font-size: 24px;		/*Розмір шрифту*/
  font-weight: 700;		/*Жирність шрифту*/
  line-height: 25px;		/*Вислта рядку*/
  padding: 0px 0px 10px 0px;		/*Внутрішній відступ*/
}
/*Задання властивостей за селектором класу*/
.secondblock-text {
  margin: 0px 0px 50px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей для всіх елементів p в блоці за селектором класу secondblock-text*/
.secondblock-text p {
  font-family: "PT Serif", serif;		/*Вибір сімейства шрифту*/
  font-style: italic;		/*Стиль шрифту*/
  font-size: 24px;		/*Розмір шрифту*/
  font-weight: 700;		/*Жирність шрифту*/
  line-height: 25px;		/*Висота рядку*/
  padding: 0px 0px 10px 0px;		/*Внутрішній відступ*/
}
/*Задання властивостей за селектором класу thirdblock-text*/
.thirdblock-text {
  margin: 0px 0px 50px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей для всіх елементів p в блоці за селектором класу thirdblock-text*/
.thirdblock-text p {
  font-family: "Conv_Win_20_db_regular-W";		/*Вибір сімейства шрифтів*/
  font-size: 24px;		/*Розмір шрифту*/
  font-weight: 500;		/*Жирність шрифту*/
  line-height: 25px;		/*Висота рядку*/
  padding: 0px 0px 10px 0px;		/*Внутрішній відступ*/
}