* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  height: 1500px;
}

.headerblock {
  width: 100%;
  height: auto;
  margin: 0px auto;
  position: fixed;
  background-color: black;
}
.headerblock-item {
  background: url("/projectMKL/image/logo.png") 0 0/100% 100% no-repeat;
}
.headerblock-item__image {
  position: absolute;
  width: 95px;
  height: 95px;
  background: url("/projectMKL/image/logo.png") 0 0/100% 100% no-repeat;
}
.headerblock-item__nav {
  padding: 0px 0px 0px 99px;
}
.headerblock-item__nav a {
  display: inline-block;
  height: 100px;
  width: 150px;
  margin: 0px 0px 0px 30px;
  padding: 35px 10px 10px 0px;
}
.headerblock-item__nav a:hover {
  color: black;
  border: 2px solid white;
}
.headerblock-item__nav span {
  color: aliceblue;
  font-size: 24px;
}
.headerblock-item__nav span:hover {
  color: aliceblue;
}