// Імпортування ститлю обнулення
@import 'nullstyle.scss';
// Встановлення перемінної $back
$back:red;		//Перемінна $back тепер має властивість давати червоний колір елементу
//Встановлення значень переміних через міксування
@mixin fontcl ($fz,$cl){
	font-size: $fz;		// Визначення перемінної	$fz
	color: $cl;				// Визначення перемінної	$cl
}
//Створення шаблону
%txtdecor{
	text-decoration: line-through;		//Декорація тексту
	border: 1px solid #000;			  //Встановлення межі кордону елементу
}


//Задання властивостей через селектор класу content
.content {
	max-width: 850px;		//Максимальна ширина
	margin: 0px auto;		//Зовнішній відступ(Центрування)

	&__text {
		font-size: 24px;		// Розмір шрифту
	}
}
//Задання властивостей через селктор класу content-text
.content-text {

	&__paragraf1 {
		background-color: $back;		//Фоновий окрас з допмогою перемінної $back
	}

	&__paragraf2 {
		@extend %txtdecor;		//Підключення шаблону
	}

	&__paragraf3 {
		@include fontcl(50px, blue);		//Підключення замішування перемінних
	}
}
