//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';


body{
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
}
.ibg{
	}
	
	.ibg img{
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
	}
