/*Задання властивостей всім елементам які знаходятся в body*/
body{
	/*Задання властивості сімейству шрифта*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Задання властивостей всім елементам тегів p*/
p{
	/*Задання властивостей зміни розміру шрифта*/
	font-size: 14px;
}
/*Задання зміни властивостей заголовку першого рівня який знаходиттся в тезі div*/
div h1{
	/*Задання властивостей зміни розміру шрифта*/
	font-size: 30px;
	/*Задання властивостей зміни кольору*/
	color: #445161;
}
/*Задання зміни властивостей заголовку другого рівня який знаходиттся в тезі div*/
div h2{
	/*Задання властивостей зміни кольору*/
	color: #445161;
	/*Задання властивостей зміни розміру шрифта*/
	font-size: 25px;
}


/*Задання зміни властивостей для селектору класу h20px*/
.h20px{
	/*Задання властивостей зміни розміру шрифта*/
	font-size: 20px;
}
/*Задання зміни властивостей для селектору класу text*/
.text {
	/*Додавання інтервалу між рядками тексту*/
	line-height: 25px;
}
/*Задання зміни властивостей для селектору класу bold*/
.bold {
	/*Вага,жирність шрифту*/
	font-weight: 700;
}
/*Задання зміни властивостей для селектору класу red*/
.red {
	/*Задання властивостей зміни кольору*/
	color: red;
}
/*Задання зміни властивостей для селектору класу right*/
.right {
	/*Задання властивостей зміни розташування об'єкту*/
	text-align: right;
}
/*Задання зміни властивостей для селектору класу uppercase*/
.uppercase {
	/*Задання властивостей зміни розмурі букв в тексті*/
	text-transform: uppercase;
}
/*Задання зміни властивостей для селектору класу italic*/
.italic {
	/*Задання властивості зміни стилю шрифта*/
	font-style: italic;
}
/*Задання зміни властивостей для селектору класу underline*/
.underline {
	/*Задання властивостей зміни декорації тексту*/
	text-decoration: underline;
}
/*Задання зміни властивостей для селектору класу center*/
.center {
	/*Задання властивостей зміни розташування об'єкту*/
	text-align: center;
}
/*Задання зміни властивостей для селектору класу fontsize*/
.fontsize {
	/*Задання властивості зміни розміру шрифта*/
	font-size: 24px;
}
/*Задання зміни властивостей для селектору класу decoration*/
.decoration {
	/*Задання властивості стилю зачеркнутого тексту*/
	text-decoration: line-through;
}
/*Задання зміни властивостей для селектору класу fontfamily*/
.fontfamily {
	/*Задання властивості сімейству шрифта*/
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
/*Задання зміни властивостей для селектору класу shadow*/
.shadow {
	/*Задання властивості додавання ефекту тіні об'єкту*/
	text-shadow: 0.5px 0.9px 1px rgb(0, 0, 0);

}
