//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

html,
body{
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	color: #fff;
	padding: 30px;
}
.page {
}
/*
.text {
	/*column-width: 200px;*/

	/*column-count: 3;
	column-width: 200px;*/

	/*columns: 3 200px;*/
	/*padding: 15px;
	text-align: justify;
	columns: 2 200px;
	column-gap: 20%;
	column-rule: 5px dashed green;
	background: rgb(66,66,66);

	height: 700px;

	/*column-fill: auto;
}*/

.text{
	columns:2 200px;
	column-gap: 50px;
	column-rule: 5px dashed green;
	p{
		break-inside:avoid;
	}
	span{
		color: green;
	}
	h2{
		background-color: green;
		padding: 15px;
		color: #fff;
		margin: 20px 0;
		column-span: all;
	}
}