//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';


body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	}
	
	.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}
.fullscreen {
	display: flex;
	min-height: 100vh;
		&__body {
			flex: 1 1 auto;
			max-width: 1000px;
			margin: 0px auto;
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0px 20px ;

		}

		&__title {
			font-size: 50px;
			margin: 0px 0px 20px 0px;
			color: #333;
		}

		&__text {
			font-size: 25px;
			margin: 0px 0px 25px 0px;
			color: #333;
		}

		&__link {
			display: inline-block;
			line-height: 50px;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			letter-spacing: 2px;
			background-color: blueviolet;
			align-self: center;
			padding: 0px 20px;
		}
}
.content {
	max-width: 1000px;
	margin: 0px auto;
	padding: 30px 20px;
		&__body {
			p{
				margin: 0px 0px 20px 0px;
				&:last-child{

				}
			}
		}
}
.footer {
	background-color: #000;
	text-align: center;

		&__body {
			max-width: 1000px;
			margin: 0px auto;
			padding: 30px 20px;
		}
}
