//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

a{
	margin: 150px ;
}

.link-button {
	text-decoration: none;
	display: inline-block;
	line-height: 60px;
	padding: 0px 30px;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-size: 18px;
	border-radius: 10px;
	top: 0;
	position: relative;
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;
	transition: all 1s ease 0s;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0s;
	&:hover{
			top: 2px;
			box-shadow: 0 3px 0px #3c354a;
			transition: all 0.3s ease 0s;
		}

	span{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		text-transform: uppercase;
		font-size: 25px;
		color: #fff;
	}
	&:hover{
		background-color: rgb(65, 165, 180);
	}
}
