* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  background-color: #1b1e18;
}

.wrapper {
  text-align: center;
}

.content {
  transition: all 0.3s ease 0s;
}
.content__block {
  padding: 50px 30px;
}
.content__section {
  padding: 65px 0px;
  background: rgba(119, 85, 102, 0.6666666667);
  width: 150px;
  height: 150px;
  text-align: center;
  transform: translate(50px) rotate(45deg);
}
.content__section:hover {
  transform: translate(30px) rotate(25deg);
}
.content__transform3d {
  padding: 60px 0px;
  width: 150px;
  height: 150px;
  background-color: rgba(207, 47, 127, 0.667);
  perspective: 400px;
  perspective-origin: center;
}
.content__transform3d:hover {
  transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0.01, 0, 0, 1, 0, 1, 1, 25, 1);
}