//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

html{

}
html,
body{
	height: 100%;
}
body{
	line-height: 1;
	background-color: #333;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.example {
	padding: 80px 0px;
	.example__container {
			padding: 0px 15px;
			margin: 0px auto;
			//Переводимо в REM
			//Ділимо ширину по макету (1020px+30px(pad-15+15))
			//На 16(розмыр шрифту по замовчуванню)
			max-width: 62.625rem;
			position: relative;
			&::before{
				content:'';
				background: url('/lesson33/img/president_ukraine_leader_zelenskyy_zelensky_icon_232974.svg') 0 0 no-repeat;
				position: absolute;
				right: 0;
				//Ширину картинка по макету ділимо на ширину &__container
				//(Батька з position: relative;) та множимо на 100
				//153 / 1050 * 100 = 14.57
				width: 14.57%;
				//Висоту картинки по макету ділимо на ширину &__container
				//(Батька з position: relative;) та множимо на 100
				//241 / 1050 * 100 = 22.95
				padding-top: 22.95%;
				//Половина висоти &__container
				//(Батька з position: relative;)
				top: 50%;
				//Зрушення вправо та вверх на половину
				//Ширини/Висоти картинки(змінюється)
				transform: translate(50%,-50%);
			}
		}

		&__header {
			margin: 0px 0px 25px 0px;
			//Переводимо в REM
			//Ділимо ширину по макету(750px)
			//На 16(Ширина шрифту за замовчуванням)
			max-width: rem(46.875);
		}

		&__sub-title {
			color: #a989c7;
			font-weight: 700;
			text-transform: uppercase;

			//Переводимо в REM
			//Ділимо на розмір по макету (14px)
			//На 16(розмір шрифта по замовчуванню)
			font-size: rem(0.875);
			//Переводимо в % або частини
			//Ділимо розмір по макету(24px)
			//На розмір шрифту(14px)
			line-height: 1.7;
			//Переводимо в EM
			//Ділимо розмір по макету (15px)
			//На розмір шрифту (14px)
			margin: 0px 0px 1.07em 0px;
		}

		&__title {
			color: #93b482;
			text-transform: uppercase;
			font-weight: 900;

			//Переводимо в REM
			//Ділимо розмір по макету (42px)
			//на 16 (розмір шрифту по замовчуванню)
			font-size: 2.65rem;
			//Переводимо в % або частини
			//Ділимо розмір по макету (50px)
			//На розмір шрифту (42px)
			line-height: 1.19;
			//Переводимо в EM
			//Ділимо розмір по макету (16px)
			//На розмір шрифту (42px)
			margin: 0px 0px 0.38em 0px;
			//Переводимо в EM
			//Ділимо розмір по макету (5px)
			//На розмір шрифту (42px)
			letter-spacing:0.12em;
		}
@media (max-width: em(48)){
	//Переводимо в REM
	//Ділимо необхідний розмір (30px)
	//на 16 (розмір шрифта по замовчуванню)
	.example__title{
		font-size: rem(2);
	}
}
		&__text {
			//Переводимо в % або частини
			//ділимо розмір по макету (24px)
			//на розмір шрифту (16px)
			line-height: 1.5;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			row-gap: 24px;
			margin: 0px -12px;
		}

		&__item {
			padding: 0px 12px;
			//Отримуємо розмір в %
			//ділимо загальну ширину 100% на три
			flex: 1 1 33.333%;
			//Переводим в REM
			//Ділимо необхідний розмір (290px)
			//На 16 (розмір шрифта по замовчуванню)
			min-width: 18.125rem;
		}
}
.item-example {
	display: flex;
	column-gap: 23px;
		&__icon {
			flex: 0 0 63px;
		}

		&__body {
		}

		&__title {
			color: #f2726f;
			font-weight: 900;
			//Переводимо в REM
			//Ділимо розмір по макету (24px)
			//на 16 (розмір шрифту по замовчуванню)
			font-size: rem(1.5);
			//Переводимо в EM
			//Ділимо розмір по макету (11px)
			//На розмір шрифту (24px)
			margin: 0px 0px 0.45em 0px;
		}

		&__text {
			//Переводимо в % або частини
			//ділимо розмір по макету (24px)
			//на розмір шрифту (16px)
			line-height: 1.5;
		}
}
