//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

body{
	background-color: rgb(34, 31, 31);
}
.wrapper {
}
.content {
padding: 150px;
		&__circle {
			width: 200px;
			height: 200px;
			background-color: #fff;
			border-radius: 50%;
			position: relative;
			left: 0;
			animation:white-circle 1s infinite alternate linear;
			&:hover{
				animation-play-state: paused;
			}
			&:active{
				background:url('/test/test16/img/logo white png.png') 50%/cover no-repeat;
				box-shadow: 0 0 150px rgb(255, 255, 255);
			}
		}

}

@keyframes white-circle {
	0%{
		left: 0;
		top: 20px;
	}
	25%{
		top: 100px;
	}
	50%{
		top:150px;
		background-color: red;
		border-radius: 0;
	}
	75%{
		top: 200px;
	}
	100%{
		left:100%;
		top:250px;
	}
	
}
