/*Задання властивостей для всіх елементів тегу body*/
body{
	font-size: 24px;		/*Розмір шрифту*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;		/*Сімейство шрифтів*/
	
}
/*Задання властивостей за селектором класу content*/
.content {
	padding: 30px;		/*Внутрішній відступ для всіх сторін*/
}
/*Задання властивостей за селектором класу content__list*/
.content__list {
	margin: 0px 0px 10px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей за селектором класу content__list для всіх елементів типу li */
.content__list li{
	padding: 0px 0px 20px 30px;		/*Внутрішній відступ*/
	position: relative;		/*Елемент позиціонується згідно зі звичайним плином документа, а тоді відступає вбік відносно початкового положення на основі значень top, right, bottom та left*/
}
/*Задання властивостей за селектором класу content__list для всіх елементів типу li з допомогою псевдоелементу before*/
.content__list li::before{
	content: '';		/*Обов'язкове значення псевдоелементу*/
	background: url('../img/li.svg') 0 0 no-repeat;		/*Фонове зображення*/
	width: 20px;		/*Ширина елементу*/
	height: 20px;		/*Висота елементу*/
	position:absolute;		/*Елемент зникає зі звичайного плину документа, і для нього не виділяється жодного простору у макеті сторінки. Він позиціонується відносно до свого найближчого позиціонованого предка, якщо такий є*/
	top: 4px;		/*Відступ елементу з позиціювання від верхньої сторони*/
	left: 0px;		/*Відступ елементу з позиціювання від лівої сторони*/
}