/*Властивості параграфу p за селектором класу arial*/
.arial{
	/*Задання стилю шрифту*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Властивості параграфу p за селектором класу fontsize23*/
.fontsize23{
	/*Зміна розміру шрифту*/
	font-size: 23px;
}
/*Властивості параграфу p за селектором класу italic*/
.italic{
	/*Зміна стилю шрифту*/
	font-style: italic;
}
/*Властивості параграфу p за селектором класу font700*/
.font700{
	/*Вага,жирність шрифту*/
	font-weight: 700;
}
/*Властивості параграфу p за селектором класу colorred*/
.colorred{
	/*Зміна кольору шрифту*/
	color: #f00f00;
}
/*Властивості параграфу p за селектором класу textright*/
.textright{
	/*Задання властивостей зміни кольору*/
	text-align: center;
}
/*Властивості параграфу p за селектором класу decoration*/
.decoration{
	/*Додавання зачеркнення тексту*/
	text-decoration: line-through;
}
/*Властивості параграфу p за селектором класу shadow*/
.shadow{
	/*Задання властивості додавання ефекту тіні об'єкту*/
	text-shadow: 1px 1px 10px #000;
}
/*Властивості параграфу p за селектором класу uppercase*/
.uppercase{
	/*Зміна розімру букв в тексті*/
	text-transform: uppercase;
}
/*Властивості параграфу p за селектором класу ident*/
.ident{
	/*Зміна місця початку абзацу*/
	text-indent: 50px;
}
/*Властивості параграфу p за селектором класу lspace*/
.lspace{
	/*Додавання інтервалу між буквами тексту*/
	letter-spacing: 5px;
}
/*Властивості параграфу p за селектором класу wspace*/
.wspace{
	/*Додавання інтервалу між словами тексту*/
	word-spacing: 5px;
}
/*Властивості параграфу p за селектором класу whitespace*/
.whitespace{
	/*Додавання тексту властивості, яка дозволяє не перносити його*/
	white-space: nowrap;
}
/*Властивості параграфу p за селектором класу lheight*/
.lheight{
	/*Додавання інтервалу між рядками тексту*/
	line-height: 20px;
}