//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';
//Задаємо властивості для тегу body та всіх його елементів
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;  //Вибір сімейства шрифтів
}
//Задання властивостей за селектором класу wrapper
.wrapper {
	width: 100%;		//Ширина елементу
}
//Задання властивостей за селектором класу block
.block {
		display: flex;		//Перетворення елементу в flex-елемент
		justify-content: space-between;		//Відповідність елементу по основній осі(горизонталь)
		//Задання властивостей для елементу блоку block за селектором класу block__row
		&__row {
			border: 20px solid yellow;		//Межа кордони елементу
			margin: 130px 10px 20px 0px;		//Зовнішній відступ
			display: flex;		//Перетворення елементу в flex-елемент
			justify-content: space-between;		//Відповідність елементу по основній осі(вертикаль)
			flex-direction: column-reverse;		//Встановлення основної осі
			align-items: stretch;		//Відповідність елементу по другорядній осі(горизонталь)
			//Задання властивостей для другого елементу block__row за допомогою псевдоклассу nth-child
			&:nth-child(2){		
				flex-direction: row;		//Встановлення основної осі
				justify-content: center;		//Відповідність елементу по основній осі(горизонталь)
				align-items: flex-end;		//Відповідність елементу по другорядній осі(вертикаль)
			}
		}
		//Задання властивостей для елементу блоку block за селектором класу block__column
		&__column {
			border: 20px solid blueviolet;
		}
		//Задання властивостей для елементу блоку block за селектором класу block__item
		&__item {
			padding:  30px 50px;		//Зовнішній відступ
			color: #fff;		//Колір елементу
			font-weight: 700;		//Жирність елементу
			font-size: 50px;		//Розмір шрифту
			background-color: green;		//Фоновий окрас
		}
		//Задання властивостей для елементу блоку block за селектором класу block__column_1
		.block__column_1{
			align-self: end;		//Вирівнює flex-елемент відносно його рядка
			order: 3;		//Черга відображення flex-елемента в flex-контейнері
		}
		//Задання властивостей для елементу блоку block за селектором класу block__column_2
		.block__column_2{
			order: 2;		//Черга відображення flex-елемента в flex-контейнері
			flex: 300px 0 1;		//Короткий запис властивостей flex-елементу де порядок такий: flex-basis flex-grow flex-shrink
		}
		//Задання властивостей для елементу блоку block за селектором класу block__column_3
		.block__column_3{
			align-self: center;		//Вирівнює flex-елемент відносно його рядка
			order: 1;		//Черга відображення flex-елемента в flex-контейнері
		}
}

