/*Задання властивостей для всіх елементів тегу body*/
body{
	padding: 30px;		/*Внутрішній відступ*/
}

/*Задання властивойсте за селектором класу text*/
.text {
	font-size: 24px;		/*Розмір шрифту*/
	line-height: 33px;		/*Висота рядка*/
	margin: 0px 0px 30px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей за селектором класу text та псевдоелементом first-line(для першого рядка)*/
.text::first-line{
	color: green;		/*Колір елементу*/
}
/*Задання властивостей за селектором класу text та псевдоелементом first-letter(для першої літери)*/
.text::first-letter{
	color: red;		/*Колір елементу*/
	font-size: 50px;		/*Розмір шрифту*/
}

/*Задання властивостей за селектором класу list та типом елементу li*/
.list li{
	font-size: 24px;		/*Розмір шрифту*/
	margin: 0px 0px 20px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей за селектором класу list та типом елементу li з псевдоелементом before(Перед)*/
.list li::before{
	content: '';		/*Обов'язкове значення для псевдоелементу before*/
	width: 10px;		/*Ширина елементу*/
	height: 10px;		/*Висота елементу*/
	border-radius: 50%;		/*Радіус кутів межі елементу*/
	background-color: red;		/*Фоновий кольор*/
	display: inline-block;		/*Значення елементу(Рядок-блок)*/
	margin: 0px 10px 0px 0px;		/*Зовнішній відступ*/
}
/*Задання властивостей за селектором класу list та типом елементу li з псевдоелементом after(після)*/
.list li::after{
	content: '';		/*Обов'язкове значення для псевдоелементу after*/
}
/*Задання властивостей за селектором класу list та типом елементу li з псевдоклассом hover(при наведенні) там псевдоелементом before(перед)*/
.list li:hover:before{
	background-color: yellow;		/*Фоновий кольор*/
}