*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #794f45;
}
h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}
h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}
ul {
	list-style: none;
}
.wrapper {
	
	min-height: 100vh;
	display: grid;
	grid-template: minmax(100px,auto) 1fr minmax(70px,auto)/ 1fr;
	grid-template-areas: 
	"header"
	"main"
	"footer";
}
.header {
	grid-area: header;
	padding: 15px;
	background-color: #794f45;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
	align-items: center;
		&__logo {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: #fff;
			grid-column: 2/3;
		}

		&__menu {
			grid-column: 3/4;
		}

		&__list {
			display: grid;
			grid-auto-flow: column;
			justify-items: end;
			li{

			}
		}

		&__link {
			color: #fff;
			font-size: 18px;
		}

		&__burger {
		}
		@media (max-width:992px){
			&__list {
				display: none;
			}
			&__menu {
				display: grid;
				justify-items: end;
			}
	
			&__burger {
				width: 30px;
				display: grid;
				align-items: center;
				grid-template: repeat(3,8px) / 1fr;
				&::before{
					content:'';
					height: 2px;
					width: 30px;
					background-color: #fff;

				}
				&::after{
					content:'';
					
				}
			}
		}
}
.main {
	padding: 30px 15px;
}

.sidebar {
	background-color: #7a956b;
	padding:30px 15px;
	margin: 0px 0px 30px 0px;
		&__menu {
		}

		&__list {
			li{
				margin: 0px 0px 15px 0px;
			}
		}

		&__link {
			color: #fff;
			font-size: 20px;
		}
}
.content {

		&__title {
		}

		&__gallery {
			margin: 0px 0px 30px 0px;
		}
		
		&__products {
		}
}
@media (min-width: 992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.content {
		grid-column: 3 / 4;
		padding: 0px 0px 0px 30px;
	}
	.sidebar {
		margin: 0;
		grid-column: 2 / 3;
	}
}
.gallery {

		&__title {
		}

		&__items {
			display: grid;
			gap: 10px;
			grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
		}

		&__item {
			position: relative;
			padding: 0px 0px 85% 0px;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&_big {
	
			}
			@media (min-width:767px){
				&_big {
					grid-column: span 2;
					grid-row: span 2;
				}
			}
		}
}
.products {

		&__title {
		}

		&__items {
			display: grid;
			column-gap: 30px;
			row-gap: 50px;
			grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
			grid-auto-rows: 1fr;
		}

		&__item {
			display: grid;
			grid-auto-flow: row;
			grid-template: auto 1fr minmax(40px, auto)/1fr;
		}

		&__image {
			position: relative;
			padding: 0px 0px 90% 0px;
			margin: 0px 0px 20px 0px;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}

		&__name {
			font-size: 24px;
			color: #fff;
			line-height: 30px;
			margin: 0px 0px 20px 0px;
		}

		&__button {
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-decoration: none;
			line-height: 40px;
			justify-self: start;
			padding: 0px 20px;
			background-color: #77608d;

		}
}

.footer {
	padding: 15px;
	background-color: #77608d;
	grid-area: footer;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2 / 3;
	}
	.footer__text {
		grid-column: 3 / 4;
		text-align: right;
	}
}
@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		justify-items: center;
	}
	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
}