body{
	background: #e8e8e8 url('../image/ellipse-1-copy.png') 50% 130px no-repeat;
}
.content {
	padding: 106px 0px 0px 137px;
	max-width: 841px;
	margin: 0px auto;
}

.content-top__category {
	font-family: Arial;
	font-size: 14px;
	line-height: 2.86;
	letter-spacing: 2.8px;
	text-align: center;
	color: rgba(39, 61, 70, 0.6);
	text-transform: uppercase;
}
.content-top__title {
   font-family: TimesNewRomanPSMT;
   font-size: 36px;
	line-height: 1.39;
   text-align: center;
   color: rgb(39, 61, 70);
	padding: 28px 0px 0px 0px;
}


.content-image {
	
	padding: 77px 0px 0px 0px;
}
.contentimage__image {
	max-width: 100%;
	box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
	border: solid 10px rgb(255, 255, 255);
}


.content-bottom {
	padding: 97px 0px 0px 0px;
}
.content-bottom__text {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 24px;
   line-height: 1.67;
   text-align: left;
   color: rgba(39, 61, 70, 0.8);

}
.content-bottom-text__second {
	padding: 30px 0px 0px 0px;
}


.content-bottom__list {
	padding: 62px 0px 0px 0px;
	font-family: Arial;
   font-size: 20px;
   line-height: 1.8;
   text-align: left;
}

.content-bottom-list__list li{
	background: url('../image/check-icon.png') left center no-repeat;
	padding: 0px 0px 0px 28px;
}
.content-bottom-list__list li:nth-child(1){
	color: rgb(39, 61, 70);
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.content-bottom-list__list li:nth-child(2){
	color: #80b7b3;
	font-style: italic;
}
.content-bottom-list__list li:nth-child(3){
	font-weight: 700;
}
.content-bottom-list__list li:nth-child(4){
	color: rgba(39, 61, 70, 0.3);
	text-decoration: line-through;
}


.content-bottom__link {
	display: inline-block;
	background-color: #80b7b3;
	border-radius: 50px;
	width: 199px;
	height: 44px;
	margin: 59px 0px 137px 0px;
}
.content-bottom__button {
	text-transform: uppercase;
	font-family: Arial;
   font-size: 14px;
   line-height: 2.86;
   letter-spacing: 2.8px;
   color: rgb(255, 255, 255);
	background: url('../image/shape-2.png')center right no-repeat;
	padding: 0px 34px 0px 30px;
}
.content-bottom__link:hover{
	box-shadow:0px 5px 0 rgba(0, 0, 0, 0.3) ;
	background-color: rgb(87, 155, 115);
}
.content-bottom__button:hover{
	color: #070808;
}

.content-bottom__link:active{
	position: relative;
	-webkit-transform: translate3d(tx,ty,tz);
	-ms-transform: translate3d(tx,ty,tz);
	-o-transform: translate3d(tx,ty,tz);
	transform: translate3d(tx,ty,tz);
	-webkit-transform: translate3d(tx,ty,tz);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}