@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,800;1,700&display=swap');

body{
	font-family: "Oswald";
}
[class*="title"]{
	font-weight: 700;
	text-transform: uppercase;
}
h1{
	text-decoration: underline;
	font-size: 35px;
	text-align: center;
}
p{
	font-family: "Bitter";
}
.navlist{
	text-align: center;
}
.navlist span{
	color: red;
	text-transform: uppercase;
	font-weight: 200;
}
.navlist__element {
	color: blue;
}
.session__list span{
	color: rgb(34, 223, 157);
	font-weight: 700;
	text-transform: uppercase;
	word-spacing: 12px;
}

.mainblock__charity{
	font-weight: 700;
}

.mainblock__charity > p{
	text-decoration: underline;
}