@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

body{
	font-family: "Oswald";
}

h1{
	text-decoration: underline;
	font-size: 35px;
	text-align: center;
}

span{
	color: red;
	text-transform: uppercase;
}
ul{
	text-align: center;
}
.navlist__element{
	color: blue;
}