@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.link {
  border-bottom: 5px dashed red;
}

/*Задання властивостей за селектором класу block*/
.block {
  padding: 30px; /*Внутршній відступ*/
  font-size: 24px; /*Розмір шрифту*/
  line-height: 20px; /*Висота рядка*/
  background-color: #666; /*Фоновий окрас*/
  width: 31.25%; /*Ширина елементу, задана з допомогою математичної формули*/
  /*Задання властивостей для всіх елементів p вмістимих в блоці з селектором класу block*/
  /*Задання властивостей за селектором класу .block__text*/
  /*Задання властивостей для всіх елементів span вмістимих в блоці з селектором класу block*/
}
.block.block--big {
  font-size: 100px; /*Розмір шрифту=Значення перемінної*/
}
.block p {
  color: blue; /*Колір елементу=Значення перемінної*/
}
.block .block__text {
  font-size: 30px; /*Розмір шрифту*/
}
.block span {
  color: green; /*Колір елементу*/
}

/*Задання властивостей за селектором класу link*/
.link {
  color: blue; /*Колір елементу=Значення перемінної*/
  text-decoration: underline; /*Декорації тексту*/
  font-size: 20px; /*Розмір шрифту*/
}
.block .link {
  font-size: 100px; /*Розмір шрифту=Значення перемінної*/
}
.link:hover {
  color: aqua; /*Колір елементу*/
  text-decoration: none; /*Відключення декорації для тексту*/
}

/*Задання властивостей за селектором класу link-2*/
.link-2 {
  font-size: 50px;
  color: blue;
}