//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

body{
	background-color: rgb(45, 35, 35);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
	padding: 30px;
		&__title {
			padding: 20px;
			font-size: 34px;
			color: #fff;
		}

		&__grid {
			display: grid;

			font-size: 30px;
			padding: 20px;
			background-color: #794f45;
			margin: 0px 0px 20px 0px;
		}

		&__inline-grid {
			display: inline-grid;

			font-size: 30px;
			padding: 20px;
			background-color: #77608d;
		}
}
