@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
}

.headerblock__content {
  background: url("/test/test11/img/headerblock/logo.png") 50% 25% no-repeat, url("/test/test11/img/headerblock/background.png") 0 0/cover no-repeat;
}
.headerblock__text {
  padding: 356px 0px 0px 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
}
.headerblock__title {
  font-size: 34px;
  font-weight: 900;
  line-height: 1.18;
  letter-spacing: 5.44px;
}
.headerblock__title::after {
  content: "";
  position: absolute;
  width: 105px;
  bottom: -25px;
  height: 2px;
  left: 48%;
  background-color: #f1f1f1;
  margin: 0px 0px 0px -25px;
}
.headerblock__subtitle {
  font-size: 26px;
  letter-spacing: 4.16px;
}
.headerblock__button {
  padding: 178px 0px 138px 700px;
  position: relative;
}
.headerblock__button::after {
  content: url("/test/test11/img/headerblock/Arrow-down.png");
  position: absolute;
  margin: 55px 0px -55px -68px;
}
.headerblock__link {
  padding: 5px 10px;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
}

.navblock {
  background-color: #f1f1f1;
  height: 58px;
}
.navblock__items {
  max-width: 422px;
  margin: 0px auto;
}
.navblock__links {
  padding: 22px 0px 24px 0px;
}
.navblock__link {
  padding: 0px 30px 0px 0px;
  font-size: 15px;
  text-align: left;
  color: rgb(60, 60, 60);
}
.navblock__link:first-child {
  font-weight: bold;
  color: rgb(173, 160, 116);
}
.navblock__link:hover {
  color: rgb(173, 160, 116);
  font-weight: 700;
}

.mainblock {
  margin: 130px 0px 0px 0px;
}
.mainblock__about {
  max-width: 823px;
  margin: 0px auto;
}
.mainblock__title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
}
.mainblock__title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -25px;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}
.mainblock__subtitle {
  padding: 73px 0px 69px 0px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  color: rgb(134, 133, 133);
  text-align: center;
}

.mainblock-about__row {
  display: flex;
}
.mainblock-about__column {
  padding: 0px 15px;
  flex: 0 0 33.333%;
}
.mainblock-about__title {
  font-size: 22px;
  letter-spacing: 3.52px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 41px 0px 35px 0px;
}
.mainblock-about__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: rgb(134, 133, 133);
}
.mainblock-about-column__logo {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainblock__portfolio {
  margin: 95px 0px 0px 0px;
  background-color: #f3f3f3;
}

.mainblock-portfolio {
  max-width: 1130px;
  margin: 0px auto;
}
.mainblock-portfolio__title {
  padding: 107px 0px 0px 0px;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
}
.mainblock-portfolio__title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -25px;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}
.mainblock-portfolio__nav {
  font-size: 15px;
  text-align: center;
  color: rgb(60, 60, 60);
  padding: 91px 0px 0px 0px;
}
.mainblock-portfolio__nav:first-child {
  font-weight: bold;
  color: rgb(173, 160, 116);
}
.mainblock-portfolio__nav:hover {
  color: rgb(173, 160, 116);
  font-weight: 700;
}
.mainblock-portfolio__image {
  text-align: center;
  padding: 136px 0px 0px 25px;
}
.mainblock-portfolio__image img {
  display: inline-block;
  width: 538px;
  height: 365px;
  padding: 0px 27px 16px 0px;
}
.mainblock-portfolio__button {
  padding: 64px 0px 62px 0px;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-align: center;
}
.mainblock-portfolio__link {
  border: 1px solid #000;
  padding: 17px 39px 18px 44px;
  color: #000;
}

.portfolio-nav__link {
  font-size: 15px;
  text-align: center;
  color: rgb(60, 60, 60);
}
.portfolio-nav__link:first-child {
  font-weight: bold;
  color: rgb(173, 160, 116);
}
.portfolio-nav__link:hover {
  color: rgb(173, 160, 116);
  font-weight: 700;
}

.mainblock__partners {
  background: url("/test/test11/img/partners/back.png") 100% 100% no-repeat;
}

.mainblock-partners__title {
  padding: 100px 0px 93px 0px;
  font-size: 30.5px;
  font-weight: 300;
  letter-spacing: 1.83px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.mainblock-partners__logo {
  text-align: center;
  padding: 0px 0px 100px 0px;
}
.mainblock-partners__logo img {
  align-items: center;
  padding: 0px 100px 0px 100px;
}

.mainblock__contacts {
  max-width: 673px;
  margin: 0px auto;
}
.mainblock__row {
  display: flex;
  align-items: stretch;
}
.mainblock__column {
  padding: 166px 20px 155px 0px;
}
.mainblock h2 {
  text-transform: uppercase;
  font-weight: 700;
}
.mainblock input {
  background-color: rgb(248, 247, 247);
  border-top: 4px solid #000;
}
.mainblock textarea {
  background-color: rgb(248, 247, 247);
  border-top: 4px solid #000;
  width: 100%;
}
.mainblock span {
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fff;
}
.mainblock p:nth-child(1) {
  padding: 0px 0px 80px 0px;
}
.mainblock p:nth-child(2) {
  font-weight: 800;
  padding: 0px 0px 60px 0px;
}
.mainblock p:nth-child(3) {
  font-weight: 800;
}
.mainblock__row {
  display: flex;
  justify-self: start;
}

.mainblock-contacts__title {
  padding: 107px 0px 0px 0px;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
}
.mainblock-contacts__title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -25px;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.footerblock {
  background: rgb(60, 60, 60);
  text-align: center;
}
.footerblock__logo {
  padding: 48px 0px 41px 0px;
}
.footerblock__links {
  padding: 0px 20px 34px 20px;
}
.footerblock__link {
  font-size: 14px;
  text-align: left;
  color: rgb(164, 164, 164);
  padding: 0px 0px 49px 5px;
}
.footerblock__text {
  font-size: 14px;
  text-align: center;
  color: rgb(108, 108, 108);
  padding: 0px 20px 49px 0px;
}