//Імпортуємо файл обнуляючого стилю
@import 'nullstyle.scss';

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	background-color: #1b1e18;
}
.wrapper {
	text-align: center;
}
.content {
	transition: all 0.3s ease 0s;
		&__block {
			padding: 50px 30px ;
		}

		&__section {
			padding: 65px 0px ;
			background: #756a;
			width: 150px;
			height: 150px;
			text-align: center;
			transform: translate(50px) rotate(45deg);
			&:hover{
				transform: translate(30px) rotate(25deg);
			}
		}

		&__transform3d{
			padding: 60px 0px ;
			width: 150px;
			height: 150px;
			background-color: rgba(207, 47, 127, 0.667);
			perspective: 400px;
			perspective-origin: right;
			transform: translate3d(0px,0px,0px);
			&:hover{
				transform: rotate3d(2,2,3,45deg);
			}
		}
}
